USE [master]
GO
/****** Object:  Database [DbSecimProje]    Script Date: 19.08.2025 20:45:10 ******/
CREATE DATABASE [DbSecimProje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSecimProje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbSecimProje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSecimProje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbSecimProje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSecimProje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSecimProje]
GO
/****** Object:  Table [dbo].[TBLILCE]    Script Date: 19.08.2025 20:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLILCE](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ILCEAD] [varchar](20) NULL,
	[APARTI] [smallint] NULL,
	[BPARTI] [smallint] NULL,
	[CPARTI] [smallint] NULL,
	[DPARTI] [smallint] NULL,
	[EPARTI] [smallint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLILCE] ON 

INSERT [dbo].[TBLILCE] ([ID], [ILCEAD], [APARTI], [BPARTI], [CPARTI], [DPARTI], [EPARTI]) VALUES (1, N'KADIKÖY', 125, 25, 75, 136, 88)
INSERT [dbo].[TBLILCE] ([ID], [ILCEAD], [APARTI], [BPARTI], [CPARTI], [DPARTI], [EPARTI]) VALUES (2, N'BEŞİKTAŞ', 25, 36, 36, 85, 77)
INSERT [dbo].[TBLILCE] ([ID], [ILCEAD], [APARTI], [BPARTI], [CPARTI], [DPARTI], [EPARTI]) VALUES (3, N'BEYOĞLU', 14, 26, 35, 85, 19)
SET IDENTITY_INSERT [dbo].[TBLILCE] OFF
GO
USE [master]
GO
